@import '~src/styles/default/components.scss';

.wrap {
  align-items: center;
}
.img {
  width: 100%;
}
.detail {
  padding: 10px 0px;
}
.title {
  font-size: 25px;
  padding-bottom: 10px;
}
.link {
  margin-top: 10px;
  a {
    display: block;
  }
}